<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>35867764436-csof6v7n9o6iqmh37but4cm2o0ndh7t4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.35867764436-csof6v7n9o6iqmh37but4cm2o0ndh7t4</string>
	<key>API_KEY</key>
	<string>AIzaSyCbYQXzVKmySOfzBv7Ma05TuyVL2uTlOtg</string>
	<key>GCM_SENDER_ID</key>
	<string>35867764436</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myLearningApp</string>
	<key>PROJECT_ID</key>
	<string>e-commerce-f07e4</string>
	<key>STORAGE_BUCKET</key>
	<string>e-commerce-f07e4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:35867764436:ios:739452fec814c7f40f3d41</string>
</dict>
</plist>